
body {
background-color: #ffffff;
padding: 0;
margin: 0;
text-align: center;

font-family: "Times New Roman", Times, serif;
}

.container {
display: flex;
flex-direction: column;
}

.navbar {
display: flex;

background-color: #1F2937;
padding: 20px 0px 20px 40px;

}

.header-logo img {
width: auto;
height: auto;
margin-right: auto;
padding: 5px;
}

.header-link {
display: flex;
margin-left: auto;


}

.header-link a {

color: #ffffff;
font-size: 35px;
padding: 15px;

}
.about {
    
    
    border: 3px solid #4CAF50; /* Adds a green border */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
    margin: 200px;
    
    text-align: center;
    justify-content: center;
    
}
.about h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #222;
}

.about p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}
.resume img{
    justify-content: center;
    width: 900px;
    Height: auto;
    border: 5px solid #000000; 
    border-radius: 10px; /* Optional: Rounds the corners */
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}