
/* CSS for the header, contact info, and general formatting*/

body {
background-color: #ffffff;
padding: 0;
margin: 0;
text-align: center;

font-family: "Times New Roman", Times, serif;
}

.container {
display: flex;
flex-direction: column;
}

.navbar {
display: flex;

background-color: #1F2937;
padding: 20px 0px 20px 40px;

}

.header-logo img {
width: auto;
height: auto;
margin-right: auto;
padding: 5px;
}

.header-link {
display: flex;
margin-left: auto;


}

.header-link a {

color: #ffffff;
font-size: 35px;
padding: 15px;

}

.contact {
background-color: #1F2937 ;

padding: 10px 80px;
display: flex;
align-items: center;
border-radius: 5px;

}

.contact-item {
flex: auto;

}

.contact-text {
text-align: center;
}

.contact h1{
    color: #fff;
    font-size: 30px;
}

.contact h3 {
color: #fff;
font-size: 18px;
}
.contact a{
    color: #fff;
    font-size: 18px;
}

/*CSS for index page*/
.main {
display: flex;
color: #ffffff;
background-color: rgb(116, 110, 110);
align-items: center;
justify-content: center;
padding: 90px;
}

.main-cta {
flex-basis: 600px;
display: flex;
flex-direction: column;
text-align: left;
margin-right: 120px;
}


.main h1 {
font-size: 80px;
font-weight: bold;
color: #F9FAF8;
margin: 0;

}


.main-image img {
width: auto;
height: 600px;
}


.content {
align-items: center;
border: 10px  solid #000000;
}

.content-info {
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.content-info img {
width: 300px;
height: 200px;
border: 4px solid #000000;
border-radius: 15px;
margin: 5px 20px 0px 20px;
}



.interests{
    background-color: #333;
}
.interests-media {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    flex: 1; 
    justify-content: center; 
    padding-left: 20px;
}



.interests-media img {
    width: 370px;
    height: 300px;
    border-radius: 8px;
}

.interests-media p{
    font-size: 30px;
    color: #fff;

}


.interests-text {
    flex: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
   
    padding: 10px;
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.interests-media video{
    width: 370px;
    height: 300px;
    border-radius: 8px;
}


/*CSS for about section*/

.about {
    
    
    border: 3px solid #000000; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    
    margin: 80px 250px 80px;
    
    text-align: center;
    justify-content: center;
    
}
.about h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #222;
}

.about p {
    font-size: 1rem;
    line-height: 1.6;
    color: #555;
}
.resume{
    background-color: rgb(116, 110, 110);
}

.resume h1{
    color: white;
    font-weight: bold;
}
.resume img{
    justify-content: center;
    width: 900px;
    Height: auto;
    border: 5px solid #000000; 
    border-radius: 10px; 
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.resume h1{
    margin-top: 50px;
}




.skill {
  
  padding-bottom: 50px;
  background-color: rgb(116, 110, 110);
}

.skill p {
  margin: 0 0 10px;
  font-weight: bold;
  color: white;
}

.skill h1{
    color: white;
}

.skill-bar {
  width: 900px;
  
  background: #ddd;
  height: 25px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  margin: 0 auto; 
  
  
}

.skill-fill {
  height: 100%;
  
  width: 0;
  border-radius: 5px;
  animation: fill-animation 2s forwards;
  position: absolute; 
  left: 0;
}
.html-skill {
  background: linear-gradient(90deg, #e44d26, #f16529);
  
  
}

.css-skill {
  background: linear-gradient(90deg, #264de4, #2965f1);
  
  
}

.sql-skill {
  background: linear-gradient(90deg, #f29111, #ffc107);
  
  
}

.vba-skill {
  background: linear-gradient(90deg, #1c3a54, #2874a6);
  
  
}

.bloom-skill {
  background: linear-gradient(90deg, #003366, #006699);
  
  
}

.bi-skill {
  background: linear-gradient(90deg, #F2C811, #F2B807);
  
  
}

.javascript-skill {
  background: linear-gradient(90deg, #F7DF1E, #FFD700);
  
  
}

@keyframes fill-animation {
     0% {
    width: 0;
    left: 0;
  }
  100% 
  {
      width: var(--skill-level);
  }
}


