
body {
background-color: #ffffff;
padding: 0;
margin: 0;
text-align: center;

font-family: "Times New Roman", Times, serif;
}

.container {
display: flex;
flex-direction: column;
}

.navbar {
display: flex;

background-color: #1F2937;
padding: 20px 0px 20px 40px;

}

.header-logo img {
width: auto;
height: auto;
margin-right: auto;
padding: 5px;
}

.header-link {
display: flex;
margin-left: auto;


}

.header-link a {

color: #ffffff;
font-size: 35px;
padding: 15px;

}

.main {
display: flex;
color: #ffffff;
background-color: rgb(116, 110, 110);
align-items: center;
justify-content: center;
padding: 90px;
}

.main-cta {
flex-basis: 600px;
display: flex;
flex-direction: column;
text-align: left;
margin-right: 120px;
}


.main h1 {
font-size: 80px;
font-weight: bold;
color: #F9FAF8;
margin: 0;

}


.main-image img {
width: auto;
height: 600px;
}


.content {
align-items: center;
}

.content-info {
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.content-info img {
width: 300px;
height: 200px;
border: 4px solid #000000;
border-radius: 15px;
margin: 5px 20px 0px 20px;
}

.interests{
    background-color: #333;
}
.interests-media {
    display: flex;
    flex-direction: column;
    gap: 20px; 
    flex: 1; 
    justify-content: center; 
    padding-left: 20px;
}



.interests-media img {
    width: 370px;
    height: 300px;
    border-radius: 8px;
}

.interests-media p{
    font-size: 30px;
    color: #fff;

}


.interests-text {
    flex: 2; 
    display: flex;
    justify-content: center;
    align-items: center;
   
    padding: 10px;
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.interests-media video{
    width: 370px;
    height: 300px;
    border-radius: 8px;
}







.contact {
background-color: #1F2937 ;

padding: 10px 80px;
display: flex;
align-items: center;
border-radius: 5px;

}

.contact-item {
flex: auto;

}

.contact-text {
text-align: center;
}

.contact h1{
    color: #fff;
    font-size: 30px;
}

.contact h3 {
color: #fff;
font-size: 18px;
}
.contact a{
    color: #fff;
    font-size: 18px;
}





